Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt --check
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {push_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "**/*.erb"
      run: bin/bundle exec rspec
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier {push_files}

pre-commit:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {staged_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard {staged_files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier --write {staged_files}

chore(deps): update dependency selenium-webdriver to v4.46.0 - `automerge` (#543)
  Gemfile.lock
Due: none

chore(deps): update dependency typescript to v7
  package.json
Due: prettier

chore(deps): update dependency simplecov to v1
  Gemfile.lock
Due: none

chore(deps): update dependency simplecov to v1 (#545)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#546)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update actions/setup-node digest to 2499707
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/setup-node action to v7
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/setup-node action to v7 (#548)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency simplecov to v1.0.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency simplecov to v1.0.1 - `automerge` (#549)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to 7188fc3
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 7188fc3 (#550)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#551)
  Gemfile.lock
Due: none

chore(deps): update dependency solid_cable to v4.0.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency solid_cable to v4.0.1 - `automerge` (#552)
  Gemfile.lock
Due: none

chore(deps): update dependency simplecov to v1.0.2 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency simplecov to v1.0.2 - `automerge` (#553)
  Gemfile.lock
Due: none

chore(deps): update dependency solid_cable to v4.0.2 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency solid_cable to v4.0.2 - `automerge` (#554)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#555)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update actions/checkout digest to 3d3c42e
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/checkout action to v7.0.1 - `automerge`
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update actions/checkout action to v7.0.1 - `automerge` (#557)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update actions/checkout digest to 3d3c42e (#556)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update github/codeql-action digest to e064762
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to e064762 (#559)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to e4fba86
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to e4fba86 (#560)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby gems - `automerge` (#558)
  Gemfile.lock
Due: none

chore(deps): update docker/login-action digest to 06fb636
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/login-action digest to 06fb636 (#562)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency postcss to v8.5.12 [security]
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency postcss to v8.5.12 [security] (#563)
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency solid_queue to v1.5.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update docker/login-action digest to abd2ef4
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/login-action digest to abd2ef4 (#564)
  .github/workflows/ci.yml
Due: yamllint
