Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt --check
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {push_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "**/*.erb"
      run: bin/bundle exec rspec
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier {push_files}

pre-commit:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {staged_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard {staged_files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier --write {staged_files}

chore(deps): update dependency postcss to v8.5.18 [security]
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency postcss to v8.5.18 [security] (#566)
  package.json
  yarn.lock
Due: prettier

chore(deps): update redis docker tag to v8.8.1 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update redis docker tag to v8.8.1 - `automerge` (#565)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency solid_queue to v1.5.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency solid_queue to v1.5.0 - `automerge` (#561)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#569)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update docker/login-action digest to 371161b
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/login-action digest to 371161b (#570)
  .github/workflows/ci.yml
Due: yamllint

chore(config): rotate GitLab.com production token
  config/credentials/production.yml.enc
Due: none

chore(deps): update ruby docker tag to v3.4.10 - `automerge` (#531)
  Dockerfile
Due: none

chore(deps): update docker/login-action digest to dbcb813
  .github/workflows/ci.yml
Due: yamllint

fix(reviewers): restore country flags by identifying to Nominatim
  config/initializers/geokit.rb
Due: backend-linter

fix(assets): bundle icon libraries from node_modules instead of CDN
  app/assets/stylesheets/application.scss
Due: none

chore(assets): remove unused vendored importmap files
  vendor/javascript/@popperjs--core.js
  vendor/javascript/bootstrap.js
  vendor/javascript/local-time.js
Due: none

fix(js): add @types/bootstrap to fix failing typecheck
  package.json
  yarn.lock
Due: prettier

chore(renovate): let Renovate manage mise tool versions
  .renovaterc.json
  mise.toml
Due: mise-fmt, prettier

chore(ci): pin remaining GitHub Actions to digests
  .github/workflows/ci.yml
  .renovaterc.json
Due: yamllint, prettier

chore(deps): update docker/login-action digest to dbcb813 (#571)
  .github/workflows/ci.yml
Due: yamllint

ci: run hk hook checks as a CI backstop
  .github/workflows/ci.yml
Due: yamllint

fix(hooks): typecheck TypeScript and lint .ts files on pre-push
  hk.pkl
Due: none

ci: add lint_js job for tsc, eslint and prettier
  .github/workflows/ci.yml
Due: yamllint

ci: trigger workflow on TypeScript and toolchain config changes
  .github/workflows/ci.yml
Due: yamllint

fix(ci): disable hk stashing in the hooks job
  .github/workflows/ci.yml
Due: yamllint

fix(hooks): run standardrb through bundler
  hk.pkl
Due: none

ci: run hooks job when hk configuration changes
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency rails to v8.1.3.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency typescript to v7
  package.json
Due: prettier

chore(deps): update dependency rails to v8.1.3.1 - `automerge` (#572)
  Gemfile.lock
Due: none

fix(reviewers): stop caching failed geocode lookups for a week
  app/controllers/concerns/cache_concern.rb
  app/services/location_lookup_service.rb
  spec/services/location_lookup_service_spec.rb
Due: backend-linter

fix(renovate): hold TypeScript at v6 until typescript-eslint supports TS 7
  .renovaterc.json
Due: prettier

fix: bump Yarn to 4.18.0 to align lockfile version with Renovate
  package.json
Due: prettier

chore(deps): update dependency ruby to v3.4.10 - `automerge`
  mise.toml
Due: mise-fmt

chore(deps): update dependency ruby to v3.4.10 - `automerge` (#573)
  mise.toml
Due: mise-fmt

chore(deps): update github/codeql-action digest to f205ea1
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to f205ea1 (#576)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency ruby to v4
  Dockerfile
  mise.toml
Due: mise-fmt

chore(deps): update ruby gems - `automerge` (#568)
  Gemfile.lock
Due: none
