Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, frontend-linter, prettier

backend-linter:
  run: bin/rake standard {files}

frontend-linter:
  run: yarn lint:fix

prettier:
  run: yarn prettier --write {files}

feature: add turbo stream update support
  app/helpers/merge_requests_helper.rb
  app/jobs/merge_requests_fetch_job.rb
  app/services/merge_request_broadcaster.rb
  app/views/merge_requests/index.html.erb
  app/views/merge_requests/merged_list.html.erb
  app/views/merge_requests/open_list.html.erb
  config/cable.yml
Due: backend-linter

feature: add heartbeat endpoint
  app/controllers/api/heartbeat_controller.rb
  app/javascript/controllers/heartbeat_controller.ts
  app/javascript/controllers/index.js
  app/views/merge_requests/index.html.erb
  app/views/reviewers/index.html.erb
  config/routes.rb
Due: backend-linter, frontend-linter

chore(deps): install redis
  .tool-versions
Due: none

chore(bundler): use --all argument in bundle update
  justfile
Due: none

fix(rails): try to fix https://github.com/mperham/connection_pool/issues/210
  Gemfile
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.35.1
  Gemfile.lock
Due: none

chore(deps): update dependency connection_pool to v3
  Gemfile
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.35.1 (#321)
  Gemfile.lock
Due: none

chore(ci): use sequential numbering for Docker image tags
  .github/workflows/ci.yml
Due: none

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#323)
  Gemfile.lock
  yarn.lock
Due: none

feat(auto-refresh): refresh stale pages on wake-up
  app/javascript/controllers/auto_refresh_controller.ts
Due: frontend-linter

feat(logging): add detailed broadcast logging for debugging
  app/jobs/merge_requests_fetch_job.rb
  app/services/merge_request_broadcaster.rb
Due: backend-linter

feat(logging): add scheduler and cache diagnostics
  app/jobs/schedule_cache_refresh_job.rb
  app/services/merge_requests_cache_service.rb
Due: backend-linter

feat(logging): add detailed execution flow logging to MergeRequestsFetchJob
  app/jobs/merge_requests_fetch_job.rb
Due: backend-linter

refactor(logging): reduce log verbosity to debug level
  app/jobs/merge_requests_fetch_job.rb
  app/jobs/schedule_cache_refresh_job.rb
  app/services/merge_request_broadcaster.rb
Due: backend-linter

refactor(broadcasts): centralize Action Cable broadcasts in GenerateNotificationsService
  app/jobs/merge_requests_fetch_job.rb
  app/services/generate_notifications_service.rb
Due: backend-linter

fix(broadcasts): only broadcast when data is freshly fetched from GitLab
  app/services/fetch_merge_requests_service.rb
  app/services/generate_notifications_service.rb
Due: backend-linter

refactor(broadcasts): simplify cache tracking with FetchResult struct
  app/controllers/api/user_merge_request_charts_controller.rb
  app/controllers/merge_requests_controller.rb
  app/services/fetch_merge_requests_service.rb
  app/services/generate_notifications_service.rb
  spec/requests/user_merge_request_charts_spec.rb
  spec/services/fetch_merge_requests_service_spec.rb
  spec/services/generate_notifications_service_spec.rb
Due: backend-linter

chore(deps): update dependency rails to v8.1.2
  Gemfile.lock
Due: none

chore(deps): update dependency rails to v8.1.2 (#324)
  Gemfile.lock
Due: none

refactor(deployment): migrate from .git-sha to REVISION file
  .dockerignore
  .gitignore
  Dockerfile
  bin/docker-entrypoint
  config/initializers/git-commit-sha.rb
Due: backend-linter

chore(deps): update dependency solid_queue to v1.3.0
  Gemfile.lock
Due: none

chore(deps): update dependency solid_queue to v1.3.0 (#325)
  Gemfile.lock
Due: none

feat(just): add file argument support to fix and lint recipes
  .claude/settings.json
  justfile
Due: prettier

fix(claude): suppress hook errors with || true for auto-fix tolerance
  .claude/settings.json
Due: prettier

ci(trivy): add trivy security scan
  .github/workflows/trivy.yml
Due: none

chore(deps): update github/codeql-action digest to 5d4e8d1
  .github/workflows/trivy.yml
Due: none

chore(deps): update github/codeql-action digest to 5d4e8d1 (#326)
  .github/workflows/trivy.yml
Due: none

chore(deps): update dependency async to v2.35.2
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.35.2 (#327)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#328)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update github/codeql-action digest to cdefb33
  .github/workflows/trivy.yml
Due: none

chore(deps): update github/codeql-action digest to cdefb33 (#330)
  .github/workflows/trivy.yml
Due: none

chore(deps): update dependency lefthook to v2.0.14
  Gemfile.lock
Due: none

chore(deps): update dependency lefthook to v2.0.14 (#329)
  Gemfile.lock
Due: none

chore(deps): update node.js to v25.3.0
  .node-version
  Dockerfile
Due: none

chore(deps): update node.js to v25.3.0 (#332)
  .node-version
  Dockerfile
Due: none

chore(deps): update ruby gems to v1.21.0
  Gemfile.lock
Due: none

Path conditions:
  backend-linter: any of: *.rb, *.erb
  frontend-linter: any of: app/javascript/**/*.js, app/javascript/**/*.ts
  prettier: any of: *.json
