Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

mise-fmt:
  run: mise fmt

yamllint:
  run: yamllint {staged_files}

backend-linter:
  run: bin/rake standard {staged_files}

frontend-linter:
  run: yarn lint:fix

prettier:
  run: prettier --write {staged_files}

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency lefthook to v2.1.5 - `automerge`
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#444)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency lefthook to v2.1.5 - `automerge` (#445)
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.5.4 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.5.4 - `automerge` (#446)
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#447)
  Gemfile.lock
Due: none

chore(deps): update dependency puma to v8
  Gemfile
  Gemfile.lock
Due: none

chore(deps): update dependency puma to v8 (#449)
  Gemfile
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#450)
  Gemfile.lock
Due: none

chore(deps): update docker/build-push-action digest to bcafcac
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/build-push-action digest to bcafcac (#452)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/upload-artifact digest to 043fb46
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/upload-artifact digest to 043fb46 (#453)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency selenium-webdriver to v4.43.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency selenium-webdriver to v4.43.0 - `automerge` (#451)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): lock file maintenance (#454)
  yarn.lock
Due: none

feat(logging): rotate production logs by size and keep caps
  config/environments/production.rb
Due: backend-linter

chore(deps): update github/codeql-action digest to 95e58e9
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 95e58e9 (#456)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby gems - `automerge` (#455)
  Gemfile.lock
Due: none

chore(deps): update dependency lefthook to v2.1.6 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency lefthook to v2.1.6 - `automerge` (#457)
  Gemfile.lock
Due: none

chore: replace lefthook with hk for git hooks
  .claude/CLAUDE.md
  .gitignore
  .hk-hooks/pre-commit
  .hk-hooks/pre-push
  .mise/tasks/fix
  .mise/tasks/lint
  .renovaterc.json
  Gemfile
  Gemfile.lock
  hk.pkl
  lefthook.yml
  mise.toml
  package.json
  scripts/quiet-on-success.sh
Due: mise-fmt, prettier

chore(deps): update dependency propshaft to v1.3.2 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency propshaft to v1.3.2 - `automerge` (#458)
  Gemfile.lock
Due: none

fix(hk): exclude encrypted and SVG files from newlines/whitespace steps
  .editorconfig
  app/assets/stylesheets/application.scss
  app/javascript/controllers/unread_badge_controller.js
  config/initializers/permissions_policy.rb
  hk.pkl
Due: backend-linter, frontend-linter, prettier

fix(hk): skip downloaded JSON files in all pre-commit steps
  hk.pkl
Due: none

chore: replace lefthook with hk for git hooks
  spec/support/fixtures/reviewers.yml
Due: yamllint

chore(deps): update actions/setup-node digest to 48b55a0
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/setup-node digest to 48b55a0 (#459)
  .github/workflows/ci.yml
Due: yamllint

fix: keep esbuild watcher alive when launched via mise
  Procfile.dev
  mise.toml
Due: mise-fmt

fix: start Redis automatically in development
  Procfile.dev
Due: none

feat: Fall back to linked work items for MR issue resolution
  app/helpers/merge_requests_parsing_helper.rb
  app/lib/gitlab_client.rb
  app/services/fetch_merge_requests_service.rb
  spec/helpers/merge_requests_parsing_helper_spec.rb
Due: backend-linter

chore(deps): update aquasecurity/trivy-action action to v0.36.0 - `automerge`
  .github/workflows/trivy.yml
Due: yamllint

Path conditions:
  mise-fmt: any of: mise.toml
  yamllint: any of: **/*.yml, but not: config/dockerfile.yml
  backend-linter: any of: **/*.rb, **/*.erb
  frontend-linter: any of: app/javascript/**/*.js, app/javascript/**/*.ts
  prettier: any of: app/javascript/**/*.js, app/javascript/**/*.ts, *.json
