Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

mise-fmt:
  run: mise fmt

yamllint:
  run: yamllint {staged_files}

backend-linter:
  run: bin/rake standard {staged_files}

frontend-linter:
  run: yarn lint:fix

prettier:
  run: prettier --write {staged_files}

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#621)
  Gemfile.lock
Due: none

chore(deps): update dependency simplecov to v1.3.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency simplecov to v1.3.0 - `automerge` (#622)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#623)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency async to v2.46.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.46.0 - `automerge` (#624)
  Gemfile.lock
Due: none

chore(deps): update docker/build-push-action digest to c3c9e26
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/setup-buildx-action digest to 594f3bf
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/setup-buildx-action digest to 594f3bf (#628)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/build-push-action digest to c3c9e26 (#627)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby/setup-ruby action to v1.322.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby/setup-ruby action to v1.322.0 - `automerge` (#625)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency ruby to v4.0.7 - `automerge`
  .ruby-version
  mise.toml
Due: mise-fmt

fix(hk): update configuration imports for v2
  hk.pkl
Due: none

chore(renovate): group Ruby runtime and setup action updates
  .renovaterc.json
Due: prettier

chore(deps): update ruby toolchain - `automerge`
  .github/workflows/ci.yml
  .ruby-version
  mise.toml
Due: mise-fmt, yamllint

chore(deps): update ruby gems - `automerge` (#629)
  Gemfile.lock
Due: none

chore(deps): update docker/setup-buildx-action digest to f87e599
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/setup-buildx-action digest to f87e599 (#631)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby toolchain - `automerge`
  .github/workflows/ci.yml
  .ruby-version
  Dockerfile
  mise.toml
Due: mise-fmt, yamllint

chore(deps): update ruby toolchain - `automerge` (#630)
  .github/workflows/ci.yml
  .ruby-version
  Dockerfile
  mise.toml
Due: mise-fmt, yamllint

chore(deps): update dependency opentelemetry-sdk to v1.13.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency opentelemetry-sdk to v1.13.1 - `automerge` (#632)
  Gemfile.lock
Due: none

chore(deps): update dependency redis to v8.10.2 - `automerge`
  mise.toml
Due: mise-fmt

chore(deps): update dependency redis to v8.10.2 - `automerge` (#633)
  mise.toml
Due: mise-fmt

fix(ci): track redis from conda-forge
  .github/workflows/ci.yml
  .renovaterc.json
  mise.toml
Due: mise-fmt, yamllint, prettier

chore(deps): update github/codeql-action digest to 1c5b675
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 1c5b675 (#635)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby/setup-ruby action to v1.324.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby/setup-ruby action to v1.324.0 - `automerge` (#634)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): lock file maintenance (#636)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update redis docker tag to v8.10.2 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update redis docker tag to v8.10.2 - `automerge` (#637)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby/setup-ruby action to v1.325.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby/setup-ruby action to v1.325.0 - `automerge` (#638)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby/setup-ruby action to v1.326.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

Path conditions:
  mise-fmt: any of: mise.toml
  yamllint: any of: **/*.yml, but not: config/dockerfile.yml
  backend-linter: any of: **/*.rb, **/*.erb
  frontend-linter: any of: app/javascript/**/*.js, app/javascript/**/*.ts
  prettier: any of: app/javascript/**/*.js, app/javascript/**/*.ts, *.json
