Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt --check
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {push_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "**/*.erb"
      run: bin/bundle exec rspec
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier {push_files}

pre-commit:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {staged_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard {staged_files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier --write {staged_files}

fix: bump Yarn to 4.14.1 to align lockfile version with Renovate
  .renovaterc.json
  package.json
  yarn.lock
Due: prettier

fix: bump Yarn to 4.14.1 to align lockfile version with Renovate (#485)
  .renovaterc.json
  package.json
  yarn.lock
Due: prettier

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#484)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#486)
  Gemfile.lock
Due: none

chore(deps): update dependency bootsnap to v1.24.4 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency bootsnap to v1.24.4 - `automerge` (#487)
  Gemfile.lock
Due: none

feat(merge-requests): add --no-verify to rebase command hint
  app/views/merge_requests/_branch_relation.html.erb
Due: backend-linter

chore(lint): introduce erb_lint and split it from standardrb
  .erb_lint.yml
  Gemfile
  Gemfile.lock
  app/views/admin/dashboard/index.html.erb
  app/views/errors/gitlab_api_error.html.erb
  app/views/layouts/application.html.erb
  app/views/merge_requests/_branch_ref.html.erb
  app/views/merge_requests/_branch_relation.html.erb
  app/views/merge_requests/_gitlab_label.html.erb
  app/views/merge_requests/_issue_link.html.erb
  app/views/merge_requests/_link.html.erb
  app/views/merge_requests/_merged_merge_requests.html.erb
  app/views/merge_requests/_merged_mrs_table_header.html.erb
  app/views/merge_requests/_open_merge_requests.html.erb
  app/views/merge_requests/_open_mrs_summary.html.erb
  app/views/merge_requests/_open_mrs_table_header.html.erb
  app/views/merge_requests/index.html.erb
  app/views/merge_requests/merged_chart.html.erb
  app/views/reviewers/_reviewers.html.erb
  app/views/reviewers/index.html.erb
  app/views/shared/_clipboard_button.html.erb
  app/views/shared/_links_button.html.erb
  app/views/shared/_navbar_right_section.html.erb
  app/views/shared/_relative_timestamp.html.erb
  app/views/shared/_user_badge.html.erb
  hk.pkl
Due: backend-linter

chore(deps): update github/codeql-action digest to 9e0d7b8
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 9e0d7b8 (#488)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby gems - `automerge` (#489)
  Gemfile.lock
Due: none

chore(deps): update dependency thruster to v0.1.21 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency thruster to v0.1.21 - `automerge` (#490)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#491)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update docker/build-push-action digest to f9f3042
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/build-push-action digest to f9f3042 (#492)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency opentelemetry-instrumentation-rack to v0.31.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency opentelemetry-instrumentation-rack to v0.31.1 - `automerge` (#493)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to 7211b7c
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update docker/login-action digest to 650006c
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/login-action digest to 650006c (#495)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/metadata-action digest to 80c7e94
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/setup-buildx-action digest to d7f5e7f
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/setup-buildx-action digest to d7f5e7f (#498)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/metadata-action digest to 80c7e94 (#496)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency bootsnap to v1.24.5 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency bootsnap to v1.24.5 - `automerge` (#497)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to 7211b7c (#494)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency solid_cable to v4
  Gemfile.lock
Due: none

chore(deps): update dependency solid_cable to v4 (#499)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#500)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update redis docker tag to v8.8.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update redis docker tag to v8.8.0 - `automerge` (#501)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby gems to v2.15.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v2.15.1 - `automerge` (#502)
  Gemfile.lock
Due: none
