Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

mise-fmt:
  run: mise fmt

yamllint:
  run: yamllint {staged_files}

backend-linter:
  run: bin/rake standard {staged_files}

frontend-linter:
  run: yarn lint:fix

prettier:
  run: prettier --write {staged_files}

chore(deps): update standardrb/standard-ruby-action action to v1.6.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update standardrb/standard-ruby-action action to v1.6.0 - `automerge` (#592)
  .github/workflows/ci.yml
Due: yamllint

feat: show median merge time
  app/helpers/merge_requests_helper.rb
  app/views/merge_requests/_merged_merge_requests.html.erb
  spec/controllers/merge_requests_controller_spec.rb
  spec/helpers/merge_requests_helper_spec.rb
Due: backend-linter

chore: remove unused merged summary partial
  app/views/merge_requests/_merged_mrs_summary.html.erb
Due: backend-linter

fix: tighten median merge time coverage
  app/views/merge_requests/_merged_merge_requests.html.erb
  spec/controllers/merge_requests_controller_spec.rb
Due: backend-linter

chore(deps): update ruby gems to v1.1.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v1.1.0 - `automerge` (#593)
  Gemfile.lock
Due: none

chore(deps): update dependency sqlite3 to v2.9.6 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency sqlite3 to v2.9.6 - `automerge` (#594)
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v8.0.6 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v8.0.6 - `automerge` (#595)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to ff2f1c6
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to ff2f1c6 (#597)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update jdx/mise-action action to v4.2.5 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update jdx/mise-action action to v4.2.5 - `automerge` (#596)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#598)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency redis to v8.10.1 - `automerge`
  mise.toml
Due: mise-fmt

chore(deps): update dependency redis to v8.10.1 - `automerge` (#599)
  mise.toml
Due: mise-fmt

chore(deps): update docker/setup-buildx-action digest to 37fe631
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/setup-buildx-action digest to 37fe631 (#601)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency opentelemetry-instrumentation-action_pack to v0.18.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency opentelemetry-instrumentation-action_pack to v0.18.1 - `automerge` (#600)
  Gemfile.lock
Due: none

chore(deps): update redis docker tag to v8.10.1 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update redis docker tag to v8.10.1 - `automerge` (#602)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update github/codeql-action digest to db488dd
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby gems to v1.7.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v1.7.0 - `automerge` (#604)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to db488dd (#603)
  .github/workflows/trivy.yml
Due: yamllint

fix(reviewers): stop repeat error emails for unknown locations
  .claude/CLAUDE.md
  app/services/location_lookup_service.rb
  config/initializers/geokit.rb
  lib/geocoding_response_recorder.rb
  lib/location_lookup_result.rb
  spec/services/location_lookup_service_spec.rb
Due: backend-linter

chore(deps): lock file maintenance (#605)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency thruster to v0.1.26 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency thruster to v0.1.26 - `automerge` (#606)
  Gemfile.lock
Due: none

fix(reviewers): skip group members without users
  app/dtos/group_reviewers_dto.rb
  app/lib/gitlab_client.rb
  spec/lib/gitlab_client_spec.rb
  spec/support/fixtures/group_reviewers.yml
Due: yamllint, backend-linter

fix(reviewers): guard against reviewers not visible to the token
  app/lib/gitlab_client.rb
  app/services/fetch_merge_requests_service.rb
  spec/dtos/group_reviewers_dto_spec.rb
  spec/lib/gitlab_client_spec.rb
  spec/support/fixtures/group_reviewers.yml
Due: yamllint, backend-linter

chore(deps): update jdx/mise-action action to v4.3.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update jdx/mise-action action to v4.3.0 - `automerge` (#607)
  .github/workflows/ci.yml
Due: yamllint

fix(pwa): pin formats for manifest and service worker routes
  app/views/layouts/application.html.erb
  config/routes.rb
  spec/requests/pwa_spec.rb
Due: backend-linter

test(reviewers): cover the reviewers list endpoint
  spec/controllers/reviewers_controller_spec.rb
Due: backend-linter

Path conditions:
  mise-fmt: any of: mise.toml
  yamllint: any of: **/*.yml, but not: config/dockerfile.yml
  backend-linter: any of: **/*.rb, **/*.erb
  frontend-linter: any of: app/javascript/**/*.js, app/javascript/**/*.ts
  prettier: any of: app/javascript/**/*.js, app/javascript/**/*.ts, *.json
