Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt --check
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {push_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "**/*.erb"
      run: bin/bundle exec rspec
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier {push_files}

pre-commit:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {staged_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard {staged_files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier --write {staged_files}

chore(deps): update dependency redis to v8.10.0 - `automerge`
  mise.toml
Due: mise-fmt

chore(deps): update dependency redis to v8.10.0 - `automerge` (#574)
  mise.toml
Due: mise-fmt

chore(deps): update redis docker tag to v8.10.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency redis to v6
  Gemfile.lock
Due: none

chore(deps): update dependency redis to v6 (#578)
  Gemfile.lock
Due: none

chore(deps): update redis docker tag to v8.10.0 - `automerge` (#577)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency solid_queue to v1.6.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency solid_queue to v1.6.0 - `automerge` (#579)
  Gemfile.lock
Due: none

chore(deps): update jdx/mise-action action to v4.2.4 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update jdx/mise-action action to v4.2.4 - `automerge` (#580)
  .github/workflows/ci.yml
Due: yamllint

Apply suggestion from @pedropombeiro
  Dockerfile
Due: none

chore(deps): update dependency ruby to v4 (#575)
  .ruby-version
  Dockerfile
  mise.toml
Due: mise-fmt

fix(renovate): track .ruby-version and group Ruby updates
  .claude/CLAUDE.md
  .renovaterc.json
  .ruby-version
  Dockerfile
  README.md
  architecture.md
  config/deploy.yml
Due: yamllint, prettier

chore(deps): update dependency ruby to v4 (#575)
  .ruby-version
  Dockerfile
  config/deploy.yml
  mise.toml
Due: mise-fmt, yamllint

fix(renovate): track .ruby-version and group Ruby updates
  .claude/CLAUDE.md
  .renovaterc.json
  Dockerfile
  README.md
  architecture.md
Due: prettier

Revert "chore(deps): update dependency ruby to v4 (#575)"
  .ruby-version
  Dockerfile
  config/deploy.yml
  mise.toml
Due: mise-fmt, yamllint

fix: constrain redis for Action Cable
  .renovaterc.json
  Gemfile
  Gemfile.lock
Due: prettier

fix(docker): install liburing in deploy stage
  Dockerfile
  bin/docker-entrypoint
  config/dockerfile.yml
Due: none

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#581)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update github/codeql-action digest to d1ba80a
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to d1ba80a (#583)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency graphlient to v0.9.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency graphlient to v0.9.0 - `automerge` (#582)
  Gemfile.lock
Due: none

chore(deps): update dependency postcss to v8.5.23 [security]
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency postcss to v8.5.23 [security] (#584)
  package.json
  yarn.lock
Due: prettier

chore(deps): update github/codeql-action digest to 5595cca
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 5595cca (#585)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dorny/paths-filter digest to ceb8a2b
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dorny/paths-filter digest to ceb8a2b (#587)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency async to v2.44.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.44.1 - `automerge` (#586)
  Gemfile.lock
Due: none

chore(deps): update actions/attest-build-provenance digest to 4d10147
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/attest-build-provenance digest to 4d10147 (#588)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency bootsnap to v1.25.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency bootsnap to v1.25.0 - `automerge` (#589)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#590)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency selenium-webdriver to v4.47.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency selenium-webdriver to v4.47.0 - `automerge` (#591)
  Gemfile.lock
Due: none
