Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt --check
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {push_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "**/*.erb"
      run: bin/bundle exec rspec
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier {push_files}

pre-commit:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {staged_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard {staged_files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier --write {staged_files}

chore(deps): update github/codeql-action digest to 89a39a4 - `automerge`
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby gems to v4.41.0 - `automerge` (#377)
  Gemfile.lock
Due: none

chore(deps): update docker/build-push-action digest to 10e90e3 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(.renovaterc.json): stop adding AUTOMERGE suffix to digest updates
  .renovaterc.json
Due: prettier

chore(deps): update docker/build-push-action digest to 10e90e3 - `automerge` (#370)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 89a39a4 - `automerge` (#373)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github actions - `automerge`
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github actions - `automerge` (#369)
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update redis docker tag to v8.6.1 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update redis docker tag to v8.6.1 - `automerge` (#380)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency web-console to v4.3.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency web-console to v4.3.0 - `automerge` (#381)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#379)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update actions/attest-build-provenance action to v4
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/attest-build-provenance action to v4 (#383)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/upload-artifact action to v7
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/upload-artifact action to v7 (#385)
  .github/workflows/ci.yml
Due: yamllint

ci: run ruby checks on gem updates
  .github/workflows/ci.yml
Due: yamllint

fix: add Docker healthcheck
  Dockerfile
Due: none

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#382)
  Gemfile.lock
Due: none

ci: include Brakeman report in summary
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency honeybadger to v6.5.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.5.0 - `automerge` (#389)
  Gemfile.lock
Due: none

chore(deps): update actions/attest-build-provenance digest to a2bbfa2
  .github/workflows/ci.yml
  Dockerfile
Due: yamllint

chore(deps): update node.js to v25.7.0 - `automerge`
  .node-version
Due: none

chore(deps): update node.js to v25.7.0 - `automerge` (#387)
  .github/workflows/ci.yml
  .node-version
  Dockerfile
Due: yamllint

chore(deps): update dependency sqlite3 to v2.9.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency sqlite3 to v2.9.1 - `automerge` (#390)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#391)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency lefthook to v2.1.2 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to c793b71
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to c793b71 (#393)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update aquasecurity/trivy-action action to v0.34.2 - `automerge`
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update aquasecurity/trivy-action action to v0.34.2 - `automerge` (#394)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update actions/setup-node digest to 53b8394
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/login-action action to v4
  .github/workflows/ci.yml
Due: yamllint
