Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

mise-fmt:
  run: mise fmt

yamllint:
  run: yamllint {staged_files}

backend-linter:
  run: bin/rake standard {staged_files}

frontend-linter:
  run: yarn lint:fix

prettier:
  run: prettier --write {staged_files}

chore(deps): update actions/upload-artifact digest to cf430e0 (#655)
  .github/workflows/ci.yml
Due: yamllint

fix(lint): remove obsolete ActiveRecord cop suppression
  app/models/gitlab_user.rb
Due: backend-linter

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#654)
  Gemfile.lock
Due: none

chore(deps): update actions/setup-node digest to 949feb2
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 24c5418
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 24c5418 (#657)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update actions/setup-node digest to 949feb2 (#656)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby gems - `automerge` (#658)
  Gemfile.lock
Due: none

chore(deps): update ruby/setup-ruby action to v1.328.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby/setup-ruby action to v1.328.0 - `automerge` (#659)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency webmock to v3.27.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency webmock to v3.27.0 - `automerge` (#660)
  Gemfile.lock
Due: none

Path conditions:
  mise-fmt: any of: mise.toml
  yamllint: any of: **/*.yml, but not: config/dockerfile.yml
  backend-linter: any of: **/*.rb, **/*.erb
  frontend-linter: any of: app/javascript/**/*.js, app/javascript/**/*.ts
  prettier: any of: app/javascript/**/*.js, app/javascript/**/*.ts, *.json
