Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

mise-fmt:
  run: mise fmt

yamllint:
  run: yamllint {staged_files}

backend-linter:
  run: bin/rake standard {staged_files}

frontend-linter:
  run: yarn lint:fix

prettier:
  run: prettier --write {staged_files}

chore(deps): update aquasecurity/trivy-action action to v0.36.0 - `automerge` (#460)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency postcss to v8.5.10 [security]
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency postcss to v8.5.10 [security] (#463)
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency bootsnap to v1.24.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency bootsnap to v1.24.0 - `automerge` (#464)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency puma to v8.0.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency puma to v8.0.1 - `automerge` (#466)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#465)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#467)
  Gemfile.lock
Due: none

chore(deps): update dependency bootsnap to v1.24.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency bootsnap to v1.24.1 - `automerge` (#468)
  Gemfile.lock
Due: none

fix: add puma_worker_killer to prevent OOM kills
  Gemfile
  Gemfile.lock
  config/puma.rb
Due: backend-linter

fix: add puma_worker_killer to prevent OOM kills (#469)
  Gemfile
  Gemfile.lock
  config/puma.rb
Due: backend-linter

chore(deps): update github/codeql-action digest to e46ed2c
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to e46ed2c (#471)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency spring to v4.5.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency spring to v4.5.0 - `automerge` (#472)
  Gemfile.lock
Due: none

chore: add derailed_benchmarks and memory profiling script
  Gemfile
  Gemfile.lock
  script/profile_jobs_memory.rb
Due: backend-linter

chore: add derailed_benchmarks and memory profiling script (#470)
  Gemfile
  Gemfile.lock
  script/profile_jobs_memory.rb
Due: backend-linter

fix: correct rubocop violations in profile_jobs_memory.rb
  script/profile_jobs_memory.rb
Due: backend-linter

fix: correct rubocop violations in profile_jobs_memory.rb (#473)
  script/profile_jobs_memory.rb
Due: backend-linter

fix: satisfy Style/TernaryParentheses in profile_jobs_memory.rb
  script/profile_jobs_memory.rb
Due: backend-linter

fix: pin Renovate's Yarn to match project's packageManager
  .renovaterc.json
Due: prettier

fix: satisfy Style/TernaryParentheses in profile_jobs_memory.rb (#475)
  script/profile_jobs_memory.rb
Due: backend-linter

fix: pin Renovate's Yarn to match project's packageManager (#476)
  .renovaterc.json
Due: prettier

fix: store TaggedLogging current_tags per-thread to fix memory leak
  config/initializers/opentelemetry_logging.rb
Due: backend-linter

chore: improve profile_jobs_memory.rb
  script/profile_jobs_memory.rb
Due: backend-linter

fix: restore Style/TernaryParentheses in profile_jobs_memory.rb
  script/profile_jobs_memory.rb
Due: backend-linter

chore(deps): update ruby gems - `automerge` (#477)
  Gemfile.lock
Due: none

chore(deps): update redis docker tag to v8.6.3 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency sqlite3 to v2.9.4 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency sqlite3 to v2.9.4 - `automerge` (#479)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to 68bde55
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 68bde55 (#482)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency honeybadger to v6.6.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.6.0 - `automerge` (#483)
  Gemfile.lock
Due: none

Path conditions:
  mise-fmt: any of: mise.toml
  yamllint: any of: **/*.yml, but not: config/dockerfile.yml
  backend-linter: any of: **/*.rb, **/*.erb
  frontend-linter: any of: app/javascript/**/*.js, app/javascript/**/*.ts
  prettier: any of: app/javascript/**/*.js, app/javascript/**/*.ts, *.json
