Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt --check
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {push_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "**/*.erb"
      run: bin/bundle exec rspec
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier {push_files}

pre-commit:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {staged_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard {staged_files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier --write {staged_files}

fix(reviewers): close the development-only score cell
  app/views/reviewers/_reviewers.html.erb
  spec/controllers/reviewers_controller_spec.rb
Due: backend-linter

fix(dev): respect PORT env var in dev web server
  Procfile.dev
Due: none

fix(auth): honor GITLAB_TOKEN env var in author guard
  app/controllers/merge_requests_controller_base.rb
  app/lib/gitlab_client.rb
  spec/controllers/merge_requests_controller_spec.rb
Due: backend-linter

fix(test): always set dummy encryption keys in test env
  config/environments/test.rb
Due: backend-linter

chore(deps): update github/codeql-action digest to cdf488f
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to cdf488f (#612)
  .github/workflows/trivy.yml
Due: yamllint

fix(dev): respect PORT env var in dev web server (#609)
  Procfile.dev
Due: none

fix(auth): honor GITLAB_TOKEN env var in author guard (#610)
  app/controllers/merge_requests_controller_base.rb
  app/lib/gitlab_client.rb
  spec/controllers/merge_requests_controller_spec.rb
Due: backend-linter

fix(test): always set dummy encryption keys in test env (#611)
  config/environments/test.rb
Due: backend-linter

chore(deps): update dependency async to v2.45.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.45.0 - `automerge` (#608)
  Gemfile.lock
Due: none

fix: use dedicated service account
  config/credentials/production.yml.enc
Due: none

chore(deps): update dependency selenium-webdriver to v4.48.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency selenium-webdriver to v4.48.0 - `automerge` (#613)
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.45.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.45.1 - `automerge` (#614)
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v1.2.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v1.2.0 - `automerge` (#615)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#616)
  Gemfile.lock
  yarn.lock
Due: none

fix(pwa): preserve author in home screen launch
  app/controllers/concerns/username_validation_concern.rb
  app/controllers/merge_requests_controller_base.rb
  app/controllers/pwa_controller.rb
  app/views/layouts/application.html.erb
  app/views/pwa/manifest.json.erb
  config/routes.rb
  spec/requests/pwa_spec.rb
  spec/routing/pwa_spec.rb
Due: backend-linter

ci(release): publish generated release notes
  .github/workflows/ci.yml
  .hk-hooks/commit-msg
  hk.pkl
  scripts/generate-release-notes.sh
  scripts/validate-conventional-commit.sh
Due: yamllint

fix(reviewers): handle missing activity dates
  app/dtos/group_reviewers_dto.rb
  spec/dtos/group_reviewers_dto_spec.rb
Due: backend-linter

fix(pwa): keep app icon badge current
  app/helpers/merge_requests_helper.rb
  app/javascript/controllers/unread_badge_controller.js
  app/javascript/controllers/web_push_controller.js
  app/services/generate_notifications_service.rb
  app/views/merge_requests/open_list.html.erb
  app/views/pwa/service-worker.js
  spec/helpers/merge_requests_helper_spec.rb
  spec/requests/pwa_spec.rb
  spec/services/generate_notifications_service_spec.rb
Due: backend-linter, frontend-linter, prettier

fix(charts): use exact monthly merge boundaries
  app/controllers/concerns/cache_concern.rb
  app/lib/gitlab_client.rb
  spec/requests/user_merge_request_charts_spec.rb
Due: backend-linter

feat(navbar): link version icon to release
  app/helpers/application_helper.rb
  app/views/shared/_navbar_right_section.html.erb
  spec/helpers/application_helper_spec.rb
Due: backend-linter

fix(pwa): keep push alive for badge update
  app/views/pwa/service-worker.js
  spec/requests/pwa_spec.rb
Due: backend-linter

fix(pwa): include badge count in merged notifications
  app/services/generate_notifications_service.rb
  spec/services/generate_notifications_service_spec.rb
Due: backend-linter

fix(pwa): refresh app badge for failed pipelines
  .claude/CLAUDE.md
  app/helpers/merge_requests_helper.rb
  app/javascript/controllers/unread_badge_controller.js
  app/jobs/schedule_subscribed_users_cache_refresh_job.rb
  app/services/compute_merge_request_changes_service.rb
  app/views/merge_requests/open_list.html.erb
  app/views/pwa/service-worker.js
  architecture.md
  config/recurring.yml
  spec/helpers/merge_requests_helper_spec.rb
  spec/jobs/schedule_subscribed_users_cache_refresh_job_spec.rb
  spec/requests/pwa_spec.rb
  spec/services/compute_merge_request_changes_service_spec.rb
Due: yamllint, backend-linter, frontend-linter, prettier

chore(hooks): silence successful ERB lint output
  hk.pkl
Due: none

chore(deps): update dependency opentelemetry-exporter-otlp to v0.35.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency opentelemetry-exporter-otlp to v0.35.1 - `automerge` (#617)
  Gemfile.lock
Due: none

fix(jobs): avoid invalid distinct ordering
  app/jobs/schedule_subscribed_users_cache_refresh_job.rb
  app/models/gitlab_user.rb
  spec/jobs/schedule_subscribed_users_cache_refresh_job_spec.rb
Due: backend-linter

fix(pwa): show badge hint only on permission errors
  .claude/CLAUDE.md
  app/javascript/controllers/unread_badge_controller.js
  architecture.md
Due: frontend-linter, prettier

chore(deps): update ruby gems to v1.26.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v1.26.0 - `automerge` (#618)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#619)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update github/codeql-action digest to b96794f
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to b96794f (#620)
  .github/workflows/trivy.yml
Due: yamllint
