Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt --check
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {push_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "**/*.erb"
      run: bin/bundle exec rspec
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier {push_files}

pre-commit:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {staged_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard {staged_files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier --write {staged_files}

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#413)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to b1bff81 (#418)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dorny/paths-filter digest to fbd0ab8 (#417)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby gems - `automerge` (#419)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to c6f9311
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to c6f9311 (#421)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 3869755
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency solid_queue to v1.4.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency solid_queue to v1.4.0 - `automerge` (#424)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to 3869755 (#423)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency rails to v8.1.2.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency rails to v8.1.2.1 - `automerge` (#426)
  Gemfile.lock
Due: none

chore(deps): update dependency rails to v8.1.3 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency rails to v8.1.3 - `automerge` (#428)
  Gemfile.lock
Due: none

chore(deps): update redis docker tag to v8.6.2 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update redis docker tag to v8.6.2 - `automerge` (#429)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): lock file maintenance (#425)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency thruster to v0.1.20 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency thruster to v0.1.20 - `automerge` (#430)
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.5.3 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.5.3 - `automerge` (#432)
  Gemfile.lock
Due: none

chore(deps): update dependency typescript to v6
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency typescript to v6 (#433)
  package.json
  yarn.lock
Due: prettier

chore(deps): update node.js to v25.8.2 - `automerge`
  .node-version
  Dockerfile
Due: none

chore(deps): update node.js to v25.8.2 - `automerge` (#435)
  .node-version
  Dockerfile
Due: none

chore(deps): update github/codeql-action digest to c10b806
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): lock file maintenance (#438)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update github/codeql-action digest to c10b806 (#436)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency test-prof to v1.6.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update docker/login-action digest to 4907a6d
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency test-prof to v1.6.1 - `automerge` (#439)
  Gemfile.lock
Due: none

chore(deps): update node.js to v25.9.0 - `automerge`
  .node-version
  Dockerfile
Due: none

chore(deps): update node.js to v25.9.0 - `automerge` (#442)
  .node-version
  Dockerfile
Due: none

chore(deps): update docker/login-action digest to 4907a6d (#440)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency async to v2.39.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.39.0 - `automerge` (#443)
  Gemfile.lock
Due: none
