Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

mise-fmt:
  run: mise fmt

yamllint:
  run: yamllint {staged_files}

backend-linter:
  run: bin/rake standard {staged_files}

frontend-linter:
  run: yarn lint:fix

prettier:
  run: prettier --write {staged_files}

chore(deps): update dependency puma to v8.0.2 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency puma to v8.0.2 - `automerge` (#503)
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.6.2 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.6.2 - `automerge` (#504)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#505)
  Gemfile.lock
  yarn.lock
Due: none

fix(charts): prevent monthly graph from double-counting boundary MRs
  app/lib/gitlab_client.rb
  spec/requests/user_merge_request_charts_spec.rb
Due: backend-linter

chore(deps): update github/codeql-action digest to 87557b9
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 87557b9 (#506)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update actions/checkout action to v6.0.3 - `automerge`
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update actions/checkout action to v6.0.3 - `automerge` (#507)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update actions/checkout digest to df4cb1c
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/checkout digest to df4cb1c (#508)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency bootsnap to v1.24.6 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency bootsnap to v1.24.6 - `automerge` (#509)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to 8aad20d
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 8aad20d (#510)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency honeybadger to v6.7.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.7.0 - `automerge` (#511)
  Gemfile.lock
Due: none

chore(deps): update dependency sqlite3 to v2.9.5 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency sqlite3 to v2.9.5 - `automerge` (#512)
  Gemfile.lock
Due: none

fix: bump Yarn to 4.16.0 to align lockfile version with Renovate
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier

fix: handle nil user in merge requests response
  app/dtos/user_dto.rb
  app/services/fetch_merge_requests_service.rb
  spec/controllers/merge_requests_controller_spec.rb
Due: backend-linter

chore(deps): lock file maintenance (#513)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency esbuild to v0.28.1 [security]
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency esbuild to v0.28.1 [security] (#518)
  package.json
  yarn.lock
Due: prettier

chore(deps): lock file maintenance (#519)
  Gemfile.lock
  yarn.lock
Due: none

feat: show blocking code owner rules in approvals tooltip
  app/lib/gitlab_client.rb
  app/presenters/merge_request_presenter.rb
  app/services/fetch_merge_requests_service.rb
  app/views/merge_requests/_open_merge_requests.html.erb
  spec/controllers/merge_requests_controller_spec.rb
  spec/presenters/merge_request_presenter_spec.rb
Due: backend-linter

chore(deps): update ruby gems to v4.45.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v4.45.0 - `automerge` (#515)
  Gemfile.lock
Due: none

chore(deps): update dependency shoulda-matchers to v8 - `automerge`
  Gemfile
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v0.13.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v0.13.0 - `automerge` (#520)
  Gemfile.lock
Due: none

chore(deps): update dependency shoulda-matchers to v8 - `automerge` (#516)
  Gemfile
  Gemfile.lock
Due: none

chore(deps): update actions/checkout action to v7
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update actions/checkout action to v7 (#522)
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby gems to v2.12.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v2.12.0 - `automerge` (#521)
  Gemfile.lock
Due: none

Path conditions:
  mise-fmt: any of: mise.toml
  yamllint: any of: **/*.yml, but not: config/dockerfile.yml
  backend-linter: any of: **/*.rb, **/*.erb
  frontend-linter: any of: app/javascript/**/*.js, app/javascript/**/*.ts
  prettier: any of: app/javascript/**/*.js, app/javascript/**/*.ts, *.json
