Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    backend-linter:
      glob:
        - "*.rb"
        - "*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "*.erb"
      run: bin/bundle exec rspec

pre-commit:
  parallel: true
  commands:
    backend-linter:
      glob:
        - "*.rb"
        - "*.erb"
      run: bin/rake standard {files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "*.json"
      run: yarn prettier --write {files}

refactor: use single source of truth for release tag in CI
  .github/workflows/ci.yml
Due: none

refactor: use release tag for Docker image tag
  .github/workflows/ci.yml
Due: none

refactor: consolidate date and tag computation into single step
  .github/workflows/ci.yml
Due: none

chore(deps): update ruby:3.4.7-alpine docker digest to 885df0b
  Dockerfile
Due: none

chore(deps): update dependency lefthook to v2.0.8
  Gemfile.lock
Due: none

chore(deps): update dependency lefthook to v2.0.8 (#289)
  Gemfile.lock
Due: none

chore(deps): update ruby:3.4.7-alpine docker digest to 885df0b (#288)
  Dockerfile
Due: none

chore(deps): update dependency esbuild to v0.27.1
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency esbuild to v0.27.1 (#290)
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency selenium-webdriver to v4.39.0
  Gemfile.lock
Due: none

chore(deps): update dependency selenium-webdriver to v4.39.0 (#291)
  Gemfile.lock
Due: none

feat: add fix and lint targets to justfile
  justfile
Due: none

docs: add comprehensive CLAUDE.md for Claude Code guidance
  .claude/CLAUDE.md
Due: none

chore(deps): update dependency lefthook to v2.0.9
  Gemfile.lock
Due: none

chore(deps): update dependency lefthook to v2.0.9 (#292)
  Gemfile.lock
Due: none

chore(deps): update redis docker digest to 3906b47
  .github/workflows/ci.yml
Due: none

refactor(ci): add version to Redis service
  .github/workflows/ci.yml
Due: none

chore(renovate): disable digest-only updates
  .renovaterc.json
Due: prettier

chore(deps): pin redis docker tag to 6cbef35
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency standard-rails to v1.6.0
  Gemfile.lock
Due: none

chore(deps): pin redis docker tag to 6cbef35 (#295)
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency standard-rails to v1.6.0 (#294)
  Gemfile.lock
Due: none

chore(deps): update dependency timezone to v1.3.30
  Gemfile.lock
Due: none

chore(deps): update dependency timezone to v1.3.30 (#296)
  Gemfile.lock
Due: none

fix(deps): update npm dependencies
  package.json
  yarn.lock
Due: prettier

fix(deps): update npm dependencies (#297)
  package.json
  yarn.lock
Due: prettier

fix(ci): add Node.js setup and yarn install to test job
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency honeybadger to v6.2.0
  Gemfile.lock
Due: none

chore(deps): update dependency honeybadger to v6.2.0 (#298)
  Gemfile.lock
Due: none

fix(pipeline): handle nil downstreamPipeline in pipeline_web_url
  app/helpers/merge_requests_pipeline_helper.rb
  spec/helpers/merge_requests_pipeline_helper_spec.rb
Due: backend-linter

chore(deps): update dependency lefthook to v2.0.11
  Gemfile.lock
Due: none

chore(deps): update actions/upload-artifact action to v6
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency lefthook to v2.0.11 (#299)
  Gemfile.lock
Due: none

chore(deps): update actions/upload-artifact action to v6 (#300)
  .github/workflows/ci.yml
Due: none

fix(deps): update dependency sass to ^1.95.1
  package.json
  yarn.lock
Due: prettier

fix(deps): update dependency sass to ^1.95.1 (#301)
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency @types/node to ^24.10.3
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency @types/node to ^24.10.3 (#302)
  package.json
  yarn.lock
Due: prettier

chore(ci): cancel in-progress workflow runs on new pushes
  .github/workflows/ci.yml
Due: none

fix(ci): correct path filters to include JS/TS files and missing config files
  .github/workflows/ci.yml
Due: none
