Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt --check
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {push_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "**/*.erb"
      run: bin/bundle exec rspec
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier {push_files}

pre-commit:
  parallel: true
  commands:
    mise-fmt:
      glob: "mise.toml"
      run: mise fmt
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {staged_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard {staged_files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier --write {staged_files}

chore(deps): update ruby/setup-ruby action to v1.326.0 - `automerge` (#639)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 2892aa5
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 2892aa5 (#640)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency rails to v8.1.4 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency rails to v8.1.4 - `automerge` (#641)
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v1.3.1 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v1.3.1 - `automerge` (#642)
  Gemfile.lock
Due: none

fix(opencode): port fix-after-edit plugin to OpenCode v2 API
  .opencode/plugins/fix-after-edit.ts
Due: none

perf(reviewers): count active reviews on the GitLab server
  app/lib/gitlab_client.rb
  spec/dtos/group_reviewers_dto_spec.rb
  spec/lib/gitlab_client_spec.rb
  spec/support/fixtures/group_reviewers.yml
  spec/support/fixtures/reviewers.yml
Due: yamllint, backend-linter

perf(graphql): stop fetching unused merge request fields
  app/lib/gitlab_client.rb
Due: backend-linter

perf(merge-requests): run open merge request enrichment concurrently
  app/services/fetch_merge_requests_service.rb
Due: backend-linter

perf(charts): cache monthly merge request stats per month
  app/controllers/api/user_merge_request_charts_controller.rb
  app/controllers/concerns/cache_concern.rb
  app/lib/gitlab_client.rb
  app/services/generate_notifications_service.rb
  spec/controllers/concerns/cache_concern_spec.rb
  spec/lib/gitlab_client_spec.rb
  spec/requests/user_merge_request_charts_spec.rb
Due: backend-linter

refactor(opencode): replace fix-after-edit plugin with built-in formatters
  .opencode/opencode.jsonc
  .opencode/plugins/fix-after-edit.ts
Due: none

fix(hk): make mise fix run without stashing
  .mise/tasks/fix
  .prettierignore
  hk.pkl
Due: none

fix(charts): only invalidate the months of newly merged MRs
  app/services/generate_notifications_service.rb
  spec/services/fetch_merge_requests_service_spec.rb
  spec/services/generate_notifications_service_spec.rb
Due: backend-linter

chore(deps): update ruby/setup-ruby action to v1.327.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby/setup-ruby action to v1.327.0 - `automerge` (#643)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#644)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update jdx/mise-action action to v5
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update jdx/mise-action action to v5 (#645)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#646)
  Gemfile.lock
Due: none

chore(deps): update jdx/mise-action action to v5.0.1 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update jdx/mise-action action to v5.0.1 - `automerge` (#647)
  .github/workflows/ci.yml
Due: yamllint

fix(merge-requests): show inaccessible issues
  app/helpers/merge_requests_parsing_helper.rb
  app/views/merge_requests/_issue_link.html.erb
  spec/helpers/merge_requests_parsing_helper_spec.rb
  spec/views/merge_requests/_issue_link.html.erb_spec.rb
Due: backend-linter

chore(deps): update dependency pg to v1.7.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency pg to v1.7.0 - `automerge` (#648)
  Gemfile.lock
Due: none

chore(deps): update dependency redis to v8.10.2 - `automerge`
  mise.toml
Due: mise-fmt

chore(deps): update jdx/mise-action action to v5.1.0 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update jdx/mise-action action to v5.1.0 - `automerge` (#650)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update jdx/mise-action action to v5.1.1 - `automerge`
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update jdx/mise-action action to v5.1.1 - `automerge` (#651)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency timezone to v1.3.31 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency timezone to v1.3.31 - `automerge` (#652)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#653)
  Gemfile.lock
  yarn.lock
Due: none

feat(dashboard): refresh layout with compact MR lists and filters
  app/assets/stylesheets/application.scss
  app/helpers/merge_requests_helper.rb
  app/javascript/controllers/index.js
  app/javascript/controllers/mr_list_controller.ts
  app/javascript/controllers/theme_selector_controller.ts
  app/views/layouts/application.html.erb
  app/views/merge_requests/_merged_merge_requests.html.erb
  app/views/merge_requests/_merged_mrs_table_header.html.erb
  app/views/merge_requests/_mr_title.html.erb
  app/views/merge_requests/_open_merge_requests.html.erb
  app/views/merge_requests/_open_mr_details.html.erb
  app/views/merge_requests/_open_mr_pipeline.html.erb
  app/views/merge_requests/_open_mrs_summary.html.erb
  app/views/merge_requests/_open_mrs_table_header.html.erb
  app/views/merge_requests/index.html.erb
  app/views/merge_requests/merged_chart.html.erb
  app/views/reviewers/index.html.erb
  app/views/shared/_navbar_right_section.html.erb
  spec/controllers/merge_requests_controller_spec.rb
  spec/helpers/merge_requests_helper_spec.rb
Due: backend-linter, frontend-linter, prettier

chore(deps): update dependency redis to v8.10.2 - `automerge` (#649)
  mise.toml
Due: mise-fmt

chore(deps): update actions/upload-artifact digest to cf430e0
  .github/workflows/ci.yml
Due: yamllint
