Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, frontend-linter, prettier

backend-linter:
  run: bin/rake standard {staged_files}

frontend-linter:
  run: yarn lint:fix

prettier:
  run: prettier --write {staged_files}

chore(deps): update dependency turbo-rails to v2.0.22
  Gemfile.lock
Due: none

chore(deps): update dependency turbo-rails to v2.0.22 (#352)
  Gemfile.lock
Due: none

chore(deps): update node.js to v25.5.0
  .node-version
  Dockerfile
Due: none

chore(deps): update node.js to v25.5.0 (#354)
  .node-version
  Dockerfile
Due: none

chore(deps): update docker/login-action digest to c94ce9f (#351)
  .github/workflows/ci.yml
Due: none

chore(deps): update github/codeql-action digest to b20883b (#349)
  .github/workflows/trivy.yml
Due: none

chore(deps): update ruby gems
  Gemfile.lock
Due: none

chore(deps): update ruby gems (#355)
  Gemfile.lock
Due: none

chore(deps): update dependency brakeman to v8
  Gemfile.lock
Due: none

refactor(justfile): use [script] attribute instead of shebangs and line continuations
  justfile
Due: none

chore(justfile): modernize justfile with groups, settings and new recipes
  justfile
Due: none

chore(lefthook): add justfile format linting to pre-commit hooks
  lefthook.yml
Due: none

chore(lefthook): add yamllint to pre-commit hooks
  config/deploy.yml
  config/recurring.yml
  lefthook.yml
Due: none

chore(solid_queue): Configure job cleanup after 1 week
  config/application.rb
Due: backend-linter

feat(opencode): add post-edit/write hook plugin to auto-run just fix
  .opencode/plugins/fix-after-edit.ts
Due: none

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#357)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update ruby gems to v1.22.0
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to 6bc82e0
  .github/workflows/trivy.yml
Due: none

chore(deps): update ruby gems to v1.22.0 (#358)
  Gemfile.lock
Due: none

chore(deps): update actions/checkout digest to de0fac2
  .github/workflows/ci.yml
Due: none

chore(deps): update github/codeql-action digest to 6bc82e0 (#359)
  .github/workflows/trivy.yml
Due: none

chore(deps): update ruby gems (#360)
  Gemfile.lock
Due: none

chore(deps): update actions/checkout digest to de0fac2 (#361)
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency brakeman to v8.0.2
  Gemfile.lock
Due: none

chore(deps): update dependency brakeman to v8.0.2 (#362)
  Gemfile.lock
Due: none

chore(deps): update dependency spring to v4.4.2
  Gemfile.lock
Due: none

chore(deps): update dependency spring to v4.4.2 (#364)
  Gemfile.lock
Due: none

chore(deps): update node.js to v25.6.0
  .node-version
  Dockerfile
Due: none

chore(deps): update node.js to v25.6.0 (#365)
  .node-version
  Dockerfile
Due: none

chore(deps): update github/codeql-action digest to 45cbd0c
  .github/workflows/trivy.yml
Due: none

chore(deps): update github/codeql-action digest to 45cbd0c (#366)
  .github/workflows/trivy.yml
Due: none

feat(otel): add OpenTelemetry observability stack with Grafana
  Gemfile
  Gemfile.lock
  README.md
  config/initializers/opentelemetry.rb
  config/initializers/prometheus.rb
  config/observability/grafana/provisioning/dashboards/dashboards.yml
  config/observability/grafana/provisioning/dashboards/rails-otel.json
  config/observability/grafana/provisioning/datasources/datasources.yml
  config/observability/loki.yml
  config/observability/otel-collector.yml
  config/observability/prometheus.yml
  config/observability/tempo.yml
  config/puma.rb
  docker-compose.yml
  docs/observability-roadmap.md
  docs/observability.md
Due: backend-linter, prettier

Add custom OpenTelemetry instrumentation for GitLab API
  app/lib/gitlab_client.rb
  docs/observability-roadmap.md
Due: backend-linter

Improve observability dashboard with spanmetrics connector
  config/observability/grafana/provisioning/dashboards/rails-otel.json
  config/observability/otel-collector.yml
  config/observability/prometheus.yml
  docker-compose.yml
Due: prettier

Fix Recent Traces panel in Grafana dashboard
  config/observability/grafana/provisioning/dashboards/rails-otel.json
Due: prettier

Update dashboard with all requested observability panels
  config/observability/grafana/provisioning/dashboards/rails-otel.json
Due: prettier

Add log correlation with OpenTelemetry trace context
  config/initializers/opentelemetry_logging.rb
  config/observability/grafana/provisioning/datasources/datasources.yml
  config/observability/promtail.yml
  docker-compose.yml
  docs/observability-roadmap.md
Due: backend-linter

feat(otel): track GitLab API rate limiting as span events
  app/lib/gitlab_client.rb
  config/initializers/opentelemetry_logging.rb
  docs/observability-roadmap.md
Due: backend-linter

Path conditions:
  backend-linter: any of: **/*.rb, **/*.erb
  frontend-linter: any of: app/javascript/**/*.js, app/javascript/**/*.ts
  prettier: any of: app/javascript/**/*.js, app/javascript/**/*.ts, *.json
