Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    backend-linter:
      glob:
        - "*.rb"
        - "*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "*.erb"
      run: bin/bundle exec rspec

pre-commit:
  parallel: true
  commands:
    backend-linter:
      glob:
        - "*.rb"
        - "*.erb"
      run: bin/rake standard {files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "*.json"
      run: yarn prettier --write {files}

fix(deps): update dependency sass to ^1.96.0
  package.json
  yarn.lock
Due: prettier

fix(deps): update dependency sass to ^1.96.0 (#303)
  package.json
  yarn.lock
Due: prettier

chore(deps): update ruby gems to v2.10.0
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v2.10.0 (#304)
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v2.10.1
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v2.10.1 (#305)
  Gemfile.lock
Due: none

chore(deps): update ruby docker tag to v3.4.8
  Dockerfile
Due: none

chore(deps): update ruby docker tag to v3.4.8 (#306)
  Dockerfile
Due: none

build(ci): remove deploy job from workflow
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency web-push to v3.1.0
  Gemfile.lock
Due: none

chore(deps): update dependency web-push to v3.1.0 (#307)
  Gemfile.lock
Due: none

chore(deps): update dependency debug to v1.11.1
  Gemfile.lock
Due: none

chore(deps): update dependency debug to v1.11.1 (#308)
  Gemfile.lock
Due: none

chore(deps): update docker/setup-buildx-action digest to 8d2750c
  .github/workflows/ci.yml
Due: none

chore(deps): update docker/setup-buildx-action digest to 8d2750c (#309)
  .github/workflows/ci.yml
Due: none

fix(deps): update npm dependencies
  package.json
  yarn.lock
Due: prettier

fix(deps): update npm dependencies (#310)
  package.json
  yarn.lock
Due: prettier

fix(deps): update dependency sass to ^1.97.1
  package.json
  yarn.lock
Due: prettier

fix(deps): update dependency sass to ^1.97.1 (#311)
  package.json
  yarn.lock
Due: prettier

chore(deps): update dependency bootsnap to v1.20.0
  Gemfile.lock
Due: none

chore(deps): update dependency bootsnap to v1.20.0 (#312)
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v1.20.1
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v1.20.1 (#313)
  Gemfile.lock
Due: none

chore(deps): update dependency lefthook to v2.0.13
  Gemfile.lock
Due: none

chore(deps): update ruby docker tag to v4
  Dockerfile
Due: none

chore(deps): update dependency lefthook to v2.0.13 (#314)
  Gemfile.lock
Due: none

feat(security): enable strict Content Security Policy without unsafe-eval
  config/initializers/content_security_policy.rb
Due: backend-linter

chore(deps): update dependency sqlite3 to v2.9.0
  Gemfile.lock
Due: none

chore(deps): update dependency sqlite3 to v2.9.0 (#316)
  Gemfile.lock
Due: none

fix: run `rake stimulus:manifest:update`
  app/javascript/controllers/index.js
Due: frontend-linter

Revert "feat(security): enable strict Content Security Policy without unsafe-eval"
  config/initializers/content_security_policy.rb
Due: backend-linter

chore(deps): update npm dependencies to ^8.50.1
  package.json
  yarn.lock
Due: prettier

chore(deps): update npm dependencies to ^8.50.1 (#317)
  package.json
  yarn.lock
Due: prettier

chore(renovate): allow creating PRs during office hours
  .renovaterc.json
Due: prettier

chore(deps): update npm dependencies to ^8.51.0
  package.json
  yarn.lock
Due: prettier

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#320)
  Gemfile.lock
  yarn.lock
Due: none
