Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: justfile-fmt, yamllint, backend-linter, frontend-linter, prettier

lefthook.yml:

pre-push:
  parallel: true
  commands:
    justfile-fmt:
      glob: "justfile"
      run: just --fmt --check --unstable
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {push_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
      run: yarn lint
    backend-specs:
      glob:
        - "{app,spec}/**/*.rb"
        - "**/*.erb"
      run: bin/bundle exec rspec
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier {push_files}

pre-commit:
  parallel: true
  commands:
    justfile-fmt:
      glob: "justfile"
      run: just --fmt --unstable
    yamllint:
      glob: "**/*.yml"
      exclude: "config/dockerfile.yml"
      run: yamllint {staged_files}
    backend-linter:
      glob:
        - "**/*.rb"
        - "**/*.erb"
      run: bin/rake standard {staged_files}
    frontend-linter:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
      run: yarn lint:fix
    prettier:
      glob:
        - "app/javascript/**/*.js"
        - "app/javascript/**/*.ts"
        - "*.json"
      run: prettier --write {staged_files}

feat(otel): add GitLab API performance dashboard
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
  docs/observability-roadmap.md
Due: prettier

fix(otel): use increase() for histogram queries in dashboards
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
  config/observability/grafana/provisioning/dashboards/rails-otel.json
Due: prettier

fix(otel): use Tempo's spanmetrics format in dashboards
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
  config/observability/grafana/provisioning/dashboards/rails-otel.json
Due: prettier

fix(otel): use span_name instead of graphql_operation_name in dashboard
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
Due: prettier

fix(otel): use span_name instead of custom labels in both dashboards
  config/observability/grafana/provisioning/dashboards/rails-otel.json
Due: prettier

fix(otel): use seconds unit for Tempo latency metrics
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
  config/observability/grafana/provisioning/dashboards/rails-otel.json
Due: prettier

fix(otel): correct duration units in both dashboards
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
  config/observability/grafana/provisioning/dashboards/rails-otel.json
Due: prettier

fix(otel): improve trace-to-logs linking in Grafana
  config/observability/grafana/provisioning/datasources/datasources.yml
Due: yamllint

feat(otel): simplify observability stack by removing OTel Collector
  config/observability/grafana/provisioning/dashboards/rails-otel.json
  config/observability/grafana/provisioning/datasources/datasources.yml
  config/observability/otel-collector.yml
  config/observability/prometheus.yml
  config/observability/tempo.yml
  docker-compose.yml
  docs/observability.md
Due: yamllint, prettier

refactor(otel): update to OTel semantic conventions 1.21+
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
  config/observability/grafana/provisioning/dashboards/rails-otel.json
  config/observability/tempo.yml
Due: yamllint, prettier

fix(dashboard): use Tempo metrics_generator metric names
  config/observability/grafana/provisioning/dashboards/rails-otel.json
Due: prettier

fix(dashboard): update gitlab-api-performance to Tempo metric names
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
Due: prettier

feat(otel): enable new HTTP semantic conventions (semconv 1.21+)
  config/initializers/opentelemetry.rb
Due: backend-linter

fix(dashboard): sync dashboards from production
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
  config/observability/grafana/provisioning/dashboards/rails-otel.json
Due: prettier

docs: add telemetry architecture documentation for agents
  .claude/CLAUDE.md
  .claude/docs/telemetry.md
Due: none

fix(otel): document semconv env opt-in
  config/initializers/opentelemetry.rb
  docs/observability.md
Due: backend-linter

chore(ci): improve workflow visibility with step summaries
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Due: yamllint

fix(gitlab-api-performance): replace span_name filter with http_request_method check
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
Due: prettier

chore(deps): update eslint monorepo to v10
  package.json
  yarn.lock
Due: prettier

chore(deps): update eslint monorepo to v10 (#368)
  package.json
  yarn.lock
Due: prettier

chore(renovate): prefix automerge PR titles with AUTOMERGE:
  .renovaterc.json
Due: prettier

AUTOMERGE: Update redis Docker tag to v8.6.0
  .github/workflows/ci.yml
Due: yamllint

fix(grafana): show 0% in API Error Rate panel when no errors exist
  config/observability/grafana/provisioning/dashboards/gitlab-api-performance.json
Due: prettier

fix(grafana): use correct attribute
  config/observability/grafana/provisioning/dashboards/gitlab-dashboard-rails-otel.json
Due: prettier

`AUTOMERGE`: Update Node.js to v25.6.1
  .node-version
  Dockerfile
Due: none

`AUTOMERGE`: Update docker/build-push-action digest to 10e90e3
  .github/workflows/ci.yml
Due: yamllint

`AUTOMERGE`: Update Node.js to v25.6.1 (#371)
  .node-version
  Dockerfile
Due: none

`AUTOMERGE`: Update Ruby gems
  Gemfile.lock
Due: none

`AUTOMERGE`: Update Ruby gems (#372)
  Gemfile.lock
Due: none

`AUTOMERGE`: Update github/codeql-action digest to 9e907b5
  .github/workflows/trivy.yml
Due: yamllint

chore(.renovaterc.json): replace commitMessagePrefix with suffix
  .renovaterc.json
Due: prettier

chore: migrate justfile to mise tasks
  .claude/CLAUDE.md
  .claude/settings.json
  .mise/tasks/build-docker
  .mise/tasks/clean
  .mise/tasks/fix
  .mise/tasks/lint
  .mise/tasks/logs
  .mise/tasks/routes
  .mise/tasks/test
  .opencode/plugins/fix-after-edit.ts
  .tool-versions
  README.md
  justfile
  lefthook.yml
  mise.toml
Due: justfile-fmt, prettier

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#374)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#375)
  Gemfile.lock
Due: none

chore(deps): update ruby gems to v4.41.0 - `automerge`
  Gemfile.lock
Due: none
