Repository pedropombeiro/gitlab-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: mise-fmt, yamllint, backend-linter, frontend-linter, prettier

mise-fmt:
  run: mise fmt

yamllint:
  run: yamllint {staged_files}

backend-linter:
  run: bin/rake standard {staged_files}

frontend-linter:
  run: yarn lint:fix

prettier:
  run: prettier --write {staged_files}

chore(deps): lock file maintenance
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): lock file maintenance (#524)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update ruby gems - `automerge`
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#525)
  Gemfile.lock
Due: none

chore(deps): update ruby gems - `automerge` (#526)
  Gemfile.lock
Due: none

chore(deps): update actions/attest-build-provenance digest to 0f67c3f
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update actions/attest-build-provenance digest to 0f67c3f (#527)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency async to v2.41.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.41.0 - `automerge` (#528)
  Gemfile.lock
Due: none

chore(deps): lock file maintenance (#529)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update dependency thruster to v0.1.22 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency thruster to v0.1.22 - `automerge` (#530)
  Gemfile.lock
Due: none

fix(pipeline): link warning triangle to the single blocking failed job
  app/helpers/merge_requests_pipeline_helper.rb
  spec/helpers/merge_requests_pipeline_helper_spec.rb
Due: backend-linter

chore(deps): update docker/build-push-action digest to 53b7df9
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update ruby docker tag to v3.4.10 - `automerge`
  Dockerfile
Due: none

chore(deps): update docker/build-push-action digest to 53b7df9 (#532)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/login-action digest to c99871d
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/metadata-action digest to dc80280
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/setup-buildx-action digest to bb05f3f
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 54f647b
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update docker/setup-buildx-action digest to bb05f3f (#536)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update github/codeql-action digest to 54f647b (#537)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update docker/login-action digest to c99871d (#534)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/metadata-action digest to dc80280 (#535)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dorny/paths-filter digest to 7b450ff
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dorny/paths-filter digest to 7b450ff (#538)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update dependency async to v2.42.0 - `automerge`
  Gemfile.lock
Due: none

chore(deps): update dependency async to v2.42.0 - `automerge` (#533)
  Gemfile.lock
Due: none

chore(deps): update docker/login-action digest to af1e73f
  .github/workflows/ci.yml
Due: yamllint

chore(deps): update docker/login-action digest to af1e73f (#539)
  .github/workflows/ci.yml
Due: yamllint

chore(deps): lock file maintenance (#540)
  Gemfile.lock
  yarn.lock
Due: none

chore(deps): update github/codeql-action digest to 99df26d
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update ruby gems - `automerge` (#542)
  Gemfile.lock
Due: none

chore(deps): update github/codeql-action digest to 99df26d (#541)
  .github/workflows/trivy.yml
Due: yamllint

chore(deps): update dependency selenium-webdriver to v4.46.0 - `automerge`
  Gemfile.lock
Due: none

Path conditions:
  mise-fmt: any of: mise.toml
  yamllint: any of: **/*.yml, but not: config/dockerfile.yml
  backend-linter: any of: **/*.rb, **/*.erb
  frontend-linter: any of: app/javascript/**/*.js, app/javascript/**/*.ts
  prettier: any of: app/javascript/**/*.js, app/javascript/**/*.ts, *.json
